.cell
{   border-bottom: 1px;
    margin: 0 0px;
    min-height: 30px;
}
#cell-template.cell
{   display: none;
}
.cell div.noanimate,
.cell iframe.noanimate
{
    transition: none;
}
.cell .editor
{
    padding: 0;
    width: 100%;
}
.cell .editor-wrapper
{
    height: fit-content;
    overflow: visible;
    transition: all 0.3s;
    position: relative;
    padding: 6px 0px;
    margin: 0px 10px;
    border-radius: 5px;
    overflow: hidden;
}
.cell .editor-wrapper.collapse
{
    height: 0px;
    overflow: hidden;
    padding: 0px;
}
.cell .result
{
    min-height: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #777766;
    font-family: monospace;
    width: 100%;
    border: none;
    transition: height 0.3s;
    display: block;
}

.cell .expand
{
    top: 0px;
    width: 30px;
    float: right;
    height: 30px;
    margin-bottom: -30px;
    position: relative;
    cursor: pointer;
}

.cell .editor-overlay i,
.cell .expand i
{
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    /* color: #ddddaa; */
    color: #000000;
    text-shadow: 0px 1px 3px #446644;
}
.cell .editor-overlay
{   margin-top: -21px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    bottom: 0px;
    z-index: 1;
    float: right;
    position: relative;
    cursor: pointer;
}
.cell .editor-overlay i
{
    /* color: #FDF6E3; */
    font-size: 13px;
}
.cell .editor-shadow
{
  box-shadow: inset 0px 0px 14px 4px rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}
.cell .editor-footer
{
    height: 20px;
    transition: height 0.3s;
    overflow: hidden;
    padding-left: 5px;
}
.cell .editor-footer span
{
    font-size: 14px;
    /* color: #aaaa99; */
    padding-left: 5px;
    position: relative;
    top: -4px;
}
.cell .editor-hints
{
    float: right;
}
.cell .dep-links
{
    padding-left: 5px;
}
.cell .dep-links a
{
    font-size: 14px;
    padding: 0 5px;
}

.cell .hidden,
.hidden
{   display: none;
}

/* hide cursor unfocused editor */
:not(.ace_focus).ace_editor .ace_marker-layer {
    visibility: hidden;
}
:not(.ace_focus).ace_editor .ace_cursor-layer {
    visibility: hidden;
}
#notebook .ace_hidden-cursors {
    visibility: hidden;
}
:not(.ace_focus).ace_editor .ace_mobile-menu {
    visibility: hidden;
}
#notebook .ace_mobile-menu {
    background: #FDF6E3;
    border: none;
    color: inherit;
    box-shadow: 1px 1px 2px grey;
}
.ace_mobile-menu span .ace_mobile-button {
    border-right: 1px solid #ddddaa;
    padding: 0 4px 0 4px;
}
#notebook .ace_mobile-button {
    background: none;
}
#notebook .ace_editor {
    overflow: visible;
}
