

html, body
{
    height: 100%;
}
body a
{   font-size: 20px;
    padding: 2px 10px;
}
body::-webkit-scrollbar {
  display: none; /* Webkit */
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#header
{   background: #1D2021;
    /*background: #FDF6E3;*/
    height: 40px;
    width: 100%;
    top: 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
#header a
{   font-size: 20px;
    padding: 8px 15px;
}
#header input
{   height: 100%;
    border: none;
    padding: 0px 10px;
    /*width: 150px;*/
    box-sizing: border-box;
    font-size: 20px;
}
#username, #password
{   margin: 0;
    width: 37%;
    max-width: 200px;
}
#header #login
{   margin: 0;
    padding: 0 5px;
    width: 20%;
    /*float: right;*/
    font-size: 20px;
    box-sizing: border-box;
}
#header #login-bar
{   margin: 0;
    padding: 0;
    /*width: 100%;*/
    height: 100%;
}
#header .bar
{   height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 0px 0px 0px 50px;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    display: block;
    position: absolute;
    background: inherit;
    transition: all 0.2s;
}
#header #home-bar
{   padding: 0 10px 0 10px;
}
#header .bar.offleft
{   left: -100%;
    width: 0px;
    padding: 0;
    transition: all 0.3s;
}
#header .bar.offright
{   left: 100%;
    width: 0px;
    padding: 0;
    transition: all 0.3s;
}
#header #head-left
{   left: 0%;
}
#header #head-right
{   right: 0%;
}
#header #head-left,
#header #head-right
{   padding-top: 10px;
    width: 50px;
    height: 100%;
    display: block;
    position: absolute;
    background: inherit;
}
.right
{   float: right;
}
.page-modal .doc-name
{   color: #444433;
}
#worker
{   height: 0;
    width: 100%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}

#header #head-right.hidden,
#header #head-left.hidden,
#header .hidden,
.hidden
{   display: none;
}

#page-container
{   width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s;
}
.page
{   width: 100%;
    height: auto;
}
.modal-padding
{   padding: 50px 0 50px 0;
}
.page-modal
{   margin: 0 auto 0 auto;
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
    width: fit-content;
    text-align: center;
    padding: 50px;
}
