
html, body
{   padding: 0;
    margin: 0;
    width: 100%;
    background: #242624;
    overscroll-behavior-x: none;
    font-family: Helvetica;
    color: #574;
    font-size: 20px;
}

a
{   height: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #7a6;
}
a.disabled,
a:not([href])
{   pointer-events: none;
    cursor: default;
    color: #000;
}
a.danger
{   color: #a44;
}

button {
    border: none;
    background: #565;
    margin: 1px;
    padding: 2px 6px;
    border-radius: 2px;
    font-size: large;
}

select {
    color: #685;
    background: #141614;
    border-color: #112211;
    border-radius: 3px;
    font-size: 20px;
    outline: none;
}
